figcaption,figure,footer,header,hgroup,nav,section {
    display: block
}
html {
    font-size: 100%;
    height: 100%
}
a:hover,a:active {
    outline: 0
}
img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
}
button{
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    *overflow: visible;
    line-height: normal
}
button {
    cursor: pointer
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: rgb(102, 102, 102);
    background-color: rgb(238, 238, 238);
    font-weight: normal;
    height: 100%;
}
.wrapper {
    width: 100%;
    margin: 0
}
a {
    color: #999;
    text-decoration: none;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear
}
a:hover,a:focus {
    color: #c4add1;
    text-decoration: none;
    border-color: transparent
}
.container,.navbar-fixed-top .container {
    width: 960px
}
.span8 {
    width: 640px
}
.span4 {
    width: 320px
}
.row-fluid {
    width: 100%;
    *zoom:1;border-bottom: 1px solid #eeeeee
}
.row-fluid:before,.row-fluid:after {
    display: table;
    content: "";
    line-height: 0
}
.row-fluid:after {
    clear: both
}
.row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    float: left;
    margin-left: 0%;
    *margin-left: -0.052083333333333336%;
    border-right: 1px solid #eeeeee
}
.row-fluid.noborder {
    border: 0
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0
}
.row-fluid .span8 {
    width: 66.66666666666666%;
    *width: 66.61458333333333%
}
.row-fluid .span4 {
    width: 33.33333333333333%;
    *width: 33.28124999999999%
}
.row-fluid [class*="span"].hide {
    display: none
}
[class*="span"].pull-right,.row-fluid [class*="span"].pull-right {
    float: right
}
.container {
    margin-right: auto;
    margin-left: auto;
    *zoom:1}

.container:before,.container:after {
    display: table;
    content: "";
    line-height: 0
}
.container:after {
    clear: both
}
h1,h2 {
    margin: 0 0 10px 0;
    font-family: inherit;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
    font-weight: 400;
    text-shadow: 2px 2px 3px #666;
}
h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 72px;
    line-height: 1.1;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 6px;
}
h2{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    text-align: center
}
h2:after {
    content: "_";
    display: block;
    width: 30px;
    margin: -10px auto 20px;
    text-align: center;
    color: #fff
}
.page-header {
    position: relative;
    width: auto;
    padding: 0;
    margin: 0;
    overflow: hidden
}
.page-header figure {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 400px
}
.page-header figure img {
    display: block;
    margin: 0 auto
}
.page-header hgroup {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -120px;
    display: block;
    text-align: center
}
.page-header hgroup img {
    margin-top: 0;
    margin-bottom: 0
}
ul,ol {
    padding: 0;
    margin: 0 0 10px 25px
}
li {
    line-height: 20px
}
ul.inline {
    margin-left: 0;
    list-style: none
}
ul.inline>li {
    display: inline-block;
    *display: inline;
    *zoom:1;padding-left: 8px;
    padding-right: 8px
}
hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #fff
}
.btn {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #666;
    border: 1px solid #ccc;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear,border-color 0.2s linear;
    transition: background-color 0.2s linear,border-color 0.2s linear
}
.btn:hover {
    color: #c4add1;
    background-color: #fff;
    border-color: #fff
}

.btn:first-child {
    *margin-left: 0
}
.btn:hover,.btn:focus {
    text-decoration: none
}
.btn:focus {
    outline: none
}
.btn.active,.btn:active,.btn:focus {
    background-image: none;
    outline: 0;
    color: #666
}
.btn-large {
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    border-color: #fff;
    border-width: 1px; 
    font-weight: 400;
    text-shadow: 2px 2px 3px gray;
}
.btn-large:hover,.btn-large:focus,.btn-large:active {
    color: #fff;
    background-color: #c4add1;
    border-color: #c4add1
}
.navbar {
    background-color: #fff;
    width: 100%;
    overflow: visible;
    margin: 0;
    border-bottom: 1px solid #eeeeee
}
.nav-collapse.collapse {
    height: auto;
    overflow: visible
}
.navbar .brand {
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: -20px
}
.navbar .brand img {
    width: 230px;
    height: 60px;
    padding-top: 3.5px
}
.navbar .brand:hover,.navbar .brand:focus {
    text-decoration: none
}
.navbar .btn {
    margin-top: 22px
}
.navbar-fixed-top {
    width: 100% !important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0
}
.navbar-fixed-top .navbar-inner {
    padding: 0;
    border-width: 0 0 1px;
    border-radius: 0
}
.navbar-fixed-top .container {
    width: 960px
}
.navbar-fixed-top .navbar-inner .container {
    background-color: #fff
}
.navbar-fixed-top {
    top: 0
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0;
    list-style: none
}
.navbar .nav.pull-right {
    float: right;
    margin: 0 -15px 0 0
}
.navbar .nav>li {
    float: left;
    margin: 0
}
.navbar .nav>li>a{
    font-size: 12px;
    font-weight: 400;
    float: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    padding: 35px 10px 0
}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
    background-color: transparent;
    color: #c4add1;
    text-decoration: none
}
.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {
    color: #666;
    text-decoration: none
}
.navbar .nav>li.cart>a {
    border: 1px solid #eee;
    padding: 10px;
    margin: 23px 20px 20px 35px;
    border-radius: 4px;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out
}
.navbar .nav>li.cart>a.active {
    color: #fff;
    background-color: #c4add1;
    border-color: #c4add1
}
.navbar .nav>li.cart>a:hover,.navbar .nav>li.cart>a.active:hover, .nav>li.cart.active a {
    color: #fff;
    background-color: #000;
    border-color: #000;
    opacity: 0.6;
}
.navbar .btn-navbar {
    display: none;
    float: right;
    padding: 14px 14px 13px;
    margin: 11px 0 0 0;
    color: #666;
    border: 1px solid #eee;
    background-color: transparent
}
.navbar .btn-navbar:hover {
    color: #c4add1;
    background-color: #fff
}
.navbar .btn-navbar:active,.navbar .btn-navbar.active {
    color: #999
}
.navbar .btn-navbar .icon-bar {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #999;
    border-radius: 1px
}
.btn-navbar .icon-bar+.icon-bar {
    margin-top: 2px
}
.nav-collapsibles {
    position: relative;
    width: 100%;
    margin: 0;
    top: 85px;
    background-color: #ffffff
}
.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease
}
.main-content .row-fluid .span3:nth-child(4n+1) {
    clear: left
}
footer.footer {
    background-color: #fff;
    width: 100%;
    padding: 15px 0 5px;
    color: #999
}
footer.footer .container {
    padding-top: 10px
}
footer.footer li {
    font-family: 'PT Sans', sans-serif;
    font-size: 9px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px
}
footer.footer li a {
    color: #999
}
footer.footer li a:hover {
    color: #c4add1
}
footer.footer .row-fluid>div,footer.footer .row-fluid {
    border: 0
}
footer.footer .pull-right {
    text-align: right
}
@media (max-width: 767px) {
    .productPicture {
        height:380px !important;
    margin-right:0px !important;
}
    .mapPicture {
    background-position:center center !important;
    }
    .navbar .nav.pull-right {
        margin: 0
    }
    .navbar .btn-navbar {
        float: right;
        margin-left: 15px
    }
    .nav-collapsibles {
        border-top: 0;
        width: auto;
        margin: 0 -20px 0 -20px
    }
    .navbar .navbar-inner {
        position: relative
    }
    .navbar .brand {
       float:left;
       margin: 3px;
    }

    h1 {
        font-size: 44px;
        letter-spacing: 4px
    }
    h2 {
        font-size: 18px;
        letter-spacing: 2px
    }
    .page-header figure img {
        min-height: 300px;
        min-width: 140%;
        margin-left: -20%
    }
    .btn-large {
        color: #fff;
        background-color: #c4add1;
        border-color: #c4add1
    }
    body {
        padding-left: 20px;
        padding-right: 20px
    }
    .navbar-fixed-top .container,.page-header,.footer {
        width: auto;
        margin-left: -20px;
        margin-right: -20px;
        min-width: 280px !important
    }
    .container {
        width: auto
    }
    .row-fluid {
        width: 100%;
        border: 0
    }
    .span12,.row-fluid .span12 {
        width: 100%;
        box-sizing: border-box
    }
    [class*="span"],.row-fluid [class*="span"] {
        float: none;
        clear: both;
        display: block;
        width: 100%!important;
        border-right: 0;
        margin-left: 0;
        box-sizing: border-box
    }
    .row-fluid [class*="offset"]:first-child {
        margin-left: 0
    }
    footer.footer .pull-right {
        margin-top: -7px
    }
    .footer {
        width: auto !important;
        margin-left: -20px;
        margin-right: -20px
    }
}
@media (max-width: 480px) {
    .product figure figcaption h5{
       line-height: 18px;
       font-size: 12px !important;
       font-weight: 400;
       letter-spacing: 2px;
       text-transform: uppercase;
    }
    h1 {
        font-size: 44px;
        letter-spacing: 2px
    }
    h2 {
        font-size: 16px;
        letter-spacing: 2px
    }
    .page-header figure{
        margin-left: -80px;
        overflow: hidden !important;
        min-height: 400px !important;
        min-width:600px !important;
    }
    .page-header figure img {
        min-height: 400px !important;
    }
    .navbar .brand{
        height:30px;
        width:115px;
        padding: 5px !important;
        padding-top: 16px !important
        
    }
     .navbar .brand img {
        height:30px !important;
        width:115px !important
    }
    .page-header hgroup {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -165px;
        display: block;
        text-align: center
    }
}
@media (max-width: 360px) {
    .page-header figure{
        margin-left: -120px
    }
}
@media (min-width: 768px) and (max-width: 979px) {
     .product figure figcaption h5{
       line-height: 16px;
       font-size: 14px !important;
       font-weight: 400;
       letter-spacing: 2px;
       text-transform: uppercase !important;
    }
  .span2 {
        width: 124px
    }
    .span6 {
        width: 372px
    }
    .span12 {
        width: 744px
    }
    .row-fluid .span12 {
        width: 99.99999999999999%;
    }    
    .row-fluid .span6 {
        width: 49.99999999999999%;
    }
    .row-fluid .span2 {
        width: 16.666666666666664%;
    }
     .span3 {
        width: 186px
    }
     .row-fluid .span3 {
        width: 49.99999999999999% !important;
    }
    .product figure figcaption {
       bottom: -60px
    }
    .product figure figcaption {
        height: 30%;
        min-height: 30px
    }

    .product figure>img {
        padding-bottom: 50%
    }
    h1 {
        font-size:50px;
        letter-spacing: 4px
    }
    h2 {
        font-size: 20px;
        letter-spacing: 2px
    }
    .navbar .nav.pull-right {
        margin-right: 0px
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 0px
    }
    .container, .navbar-fixed-top .container{
        width: 744px
    }
    .span8 {
        width: 496px
    }
    .span4 {
        width: 248px
    }
    .row-fluid {
        width: 100%;
        *zoom:1}
    .row-fluid:before,.row-fluid:after {
        display: table;
        content: "";
        line-height: 0
    }
    .row-fluid:after {
        clear: both
    }
    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 30px;
        box-sizing: border-box;
        float: left;
        margin-left: 0%;
        *margin-left: -0.052083333333333336%
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0
    }
    .row-fluid .span8 {
        width: 66.66666666666666%;
        *width: 66.61458333333333%
    }
    .row-fluid .span4 {
        width: 33.33333333333333%;
        *width: 33.28124999999999%
    }
}
@media (min-width: 1220px) {
    .span2 {
        width: 200px
    }
    .row-fluid .span2 {
        width: 16.666666666666664%;
    }
     .span6 {
        width: 600px
    }
    .span12 {
        width: 1200px
    }
    .row-fluid .span12 {
        width: 99.99999999999999%;
    }
      .row-fluid .span6 {
        width: 49.99999999999999% !important
    }
.product figure figcaption h5{
       line-height: 16px;
       font-size: 14px;
       font-weight: 400;
       letter-spacing: 2px;
       text-transform: uppercase !important;
    }
    .span3 {
        width: 300px
    }
    .row-fluid .span3 {
        width: 24.999999999999996%;
    }
    h1 {
        font-size:84px;
        letter-spacing: 12px;
        white-space: nowrap
    }
    h2 {
        font-size: 24px;
        letter-spacing: 2px
    }
    .page-header figure img {
        width: 100%
    }
    .navbar .brand img {
        width: 230px;
        height: 60px;
        padding-top: 0
    }
    .navbar .nav>li>a {
        font-size: 14px;
        padding: 35px 20px 0
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 0px
    }
    .container,.navbar-fixed-top .container {
        width: 1200px
    }
    .span8 {
        width: 800px
    }
    .span4 {
        width: 400px
    }
    .row-fluid {
        width: 100%;
        *zoom:1}

    .row-fluid:before,.row-fluid:after {
        display: table;
        content: "";
        line-height: 0
    }
    .row-fluid:after {
        clear: both
    }
    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 30px;
        box-sizing: border-box;
        float: left;
        margin-left: 0%;
        *margin-left: -0.052083333333333336%
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0
    }
    .row-fluid .span8 {
        width: 66.66666666666666%;
        *width: 66.61458333333333%
    }
    .row-fluid .span4 {
        width: 33.33333333333333%;
        *width: 33.28124999999999%
    }
}
@media (max-width: 979px) {
     .page-header hgroup {      
        margin-top: -120px;
    }
    body {
        padding-top:0
    }
    .navbar-fixed-top {
        position: static
    }
    .navbar-fixed-top .navbar-inner {
        padding: 0
    }
    .navbar .container {
        width: auto;
        padding: 0
    }
    .navbar .brand {
        padding: 0px 20px;
        margin: 0 0 0 -5px;
    }
    .navbar .brand img{
        height: 50px;
        width: 217px;
    }
    .navbar .nav>li.cart>a {
        margin: 11px 20px 13px 20px
    }
    .nav-collapse {
        clear: both
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px
    }
    .nav-collapse .nav>li {
        float: left;
        width: 50%;
        border-right: 1px solid #eeeeee;
        margin-right: -1px
    }
    .navbar .nav>li.cart {
        text-align: center
    }
    .nav-collapse .nav>li>a {
        padding: 15px 0 15px 22px;
        border-top: 1px solid #eee
    }
    .nav-collapse .btn {
        padding: 4px 10px 4px;
        text-align: center
    }
    .navbar .nav-collapse .nav.pull-right {
        float: none;
        margin-left: 0
    }
    .nav-collapse,.nav-collapse.collapse {
        overflow: hidden;
        height: 0
    }
    .navbar .btn-navbar {
        display: block
    }
    .nav-collapsibles {
        border-top: 0;
        top: 0
    }
    .footer .row-fluid>div {
        width: 100%;
        float: none;
        text-align: center
    }
    .nav-collapse.collapse.in {
        overflow: visible;
    }
}
@media (max-width: 1219px){
    .product figure figcaption h5{
       line-height: 16px;
       font-size: 14px;
       font-weight: 400;
       letter-spacing: 2px;
       text-transform: uppercase !important;
    }
}
@media (min-width: 980px) {
    .nav-collapse.collapse {
        height:auto !important;
        overflow: visible !important
    }
    .page-header {
        margin-top: 85px
    }
    .productsFromTop{
        margin-top:85px;
    }
}
.icons{
    font-family: sans-serif;
    font-size: 11px;
    line-height: 11px
}

/*secondPage*/
.span3 {
    width: 240px
}
.row-fluid .span3 {
    width: 24.999999999999996%;
}

.main-content .row-fluid .span3:nth-child(4n+1) {
    clear: left
}
.span3.product {
    min-height: 100px
}
.product a {
    position: relative;
    transition: box-shadow 0.2s linear,background-color 0.2s linear
}
.product a:hover {
    z-index: 99;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4)
}

.product figure{
    margin: 0;
    position: relative
}
.product figure>img {
    width: 100%;
    margin: 0;
    transition: opacity 0.2s linear;
    padding-bottom: 30%
}

.product figure figcaption {
    position: absolute;
    bottom: 10px;
    left: 10%;
    width: 80%;
    min-height: 20%;
    display: block;
    text-align: center
}

.product a {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    display: block
}

.product a h5 span {
    color: #999
}

.product a h5 em {
    color: #999;
    font-style: normal
}

/*secondPage end*/

.title {
    font-size: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #c4add1;
    text-shadow: 1px 1px 2px #666;
}

.text {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    letter-spacing: 1px;
}

.mapPicture {
    background-image:url('Pictures/map.png'); 
    height:300px; 
    background-repeat:no-repeat; 
    background-position:left center; 
    border-right:none;
}

.productPicture {
    height:480px; 
    background-size:cover; 
    margin-right:20px;
    background-position:center; 
}

.smallHeading{
    font-size: 16px; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 1px #c4add1;
}