/*
http://www.color-hex.com/color-palette/35007
#ffc3a0	(255,195,160)
#ffdab9	(255,218,185)
#ff7373	(255,115,115)
#cbbeb5	(203,190,181)
#0e2f44	(14,47,68)*/
#body h1,
#body h2,
#body h3,
#body h4,
#body h5,
#body h6 {
    font-family: 'Oswald', sans-serif;
}

#body body {
    background: rgba(14, 47, 68, 0.5);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left bottom, #ff7373, rgba(14, 47, 68, 0.5));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right, #ff7373, rgba(14, 47, 68, 0.5));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right, #ff7373, rgba(14, 47, 68, 0.5));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top right, #ff7373, rgba(14, 47, 68, 0.5));
    /* Standard syntax (must be last) */
    line-height: 2;
    letter-spacing: 0.5px;
    font-family: 'Old Standard TT', serif;
}

a {
    color: #ff7373;
}

h1 {
    color: #fff;
}

a:hover,
a:active,
a:focus {
    text-shadow: 0px 1px #ffc3a0;
    color: #ff7373;
    text-decoration: none;
}

#body .navbar {
    margin-bottom: 0px;
    border: none;
    box-shadow: 0px 1px 3px #ffc3a0;
}

#body hr {
    border-top: 3px solid #fff;
}

#body .navbar-default .navbar-nav>li>a {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#body .navbar-default .navbar-nav>li>a:hover,
#body .navbar-default .navbar-nav>li>a:active {
    text-shadow: 1px 1px #ffc3a0;
}

#body .navbar-default .navbar-nav>.active>a,
#body .navbar-default .navbar-nav>.active>a:hover,
#body .navbar-default .navbar-nav>.active>a:focus {
    color: #ff7373;
    background-color: transparent;
    text-shadow: 1px 1px #ffc3a0;
}

#body .navbar-collapse.collapse {
    display: none;
}

#body .navbar-collapse.in.collapse {
    display: block;
}

.view {
    min-height: 100vh;
    margin: 0px 50px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.about {
    background-image: url('pictures/background2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.pictureTile {
    background-repeat: no-repeat;
    height: 250px;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(255, 255, 255);
}

.pictureTile.stage {
    height: 700px;
}

.about img {
    max-width: 100%;
}

.pictureTile.newsTile {
    height: 300px;
    padding: 20px;
    color: #fff;
}

.pictureTile:hover {
    z-index: 99;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
}

.centered-content {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 30px #ffc3a0;
    text-align: center;
}

.main-title {
    color: white;
    font-size: 72px;
    line-height: 1.1;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #666;
    margin-top: 0px;
}

.subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
}

h2.subtitle:after {
    content: "_";
    display: block;
    width: 50px;
    margin: -10px auto 20px;
    color: #fff;
}

h2.subtitle.news:after {
    content: none;
}

h2.subtitle.news {
    text-shadow: 2px 2px 3px #666;
    font-size: 30px;
}

#body .navbar-brand img {
    height: 60px;
    padding-left: 15px;
}

#body .navbar-brand {
    padding-bottom: 5px;
    padding-top: 5px;
}

.centered-content img {
    margin-top: 20px;
}

#body .button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    text-shadow: 2px 2px 3px grey;
    display: inline-block;
    padding: 12px 24px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear, border-color 0.2s linear;
    transition: background-color 0.2s linear, border-color 0.2s linear;
}

#body .button:hover,
.button:focus,
.button:active {
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

ul.inline {
    margin-left: 0;
    list-style: none;
    padding-right: 0px;
    padding-left: 0px;
}

.icons {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 11px;
}

footer li {
    font-size: 9px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul.inline>li {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

footer {
    border-top: 1px soldi rgb(14, 47, 68);
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.time-line-view {
    background-image: url('pictures/background3.jpg');
}

.view.container-fluid {
    margin: 0px 30px;
}

.gallery.container-fluid,
.gallery .col-md-4,
.gallery .col-sm-6,
.gallery .col-xs-12 {
    padding: 0px;
}

.gallery .row {
    margin: 0px;
}

.pictureTile {
    position: relative;
    transition: box-shadow 0.2s linear, background-color 0.2s linear;
}

.news-content {
    color: #fff;
    box-shadow: 0px 0px 10px #ffc3a0;
    padding: 10px;
}

.read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    vertical-align: middle;
}

.read-more:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px #666;
}

.about-content {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: 	#cbbeb5;
    background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, 	#cbbeb5 8%, 	#cbbeb5 92%, rgba(80, 80, 80, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, 	#cbbeb5 8%, 	#cbbeb5 92%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, 	#cbbeb5 8%, 	#cbbeb5 92%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, 	#cbbeb5 8%, 	#cbbeb5 92%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, 	#cbbeb5 8%, 	#cbbeb5 92%, rgba(80, 80, 80, 0) 100%);
    z-index: 5;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
    font-size: 20px;
    text-shadow: 1px 1px 2px #666;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #ff7373;
    z-index: 10;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: #ff7373;
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248, 248, 248);
}
/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }
    .timeline li {
        padding: 2em 0;
    }
    .direction-l,
    .direction-r {
        float: none;
        width: 100%;
        text-align: center;
    }
    .flag-wrapper {
        text-align: center;
    }
    .flag {
        background: rgb(255, 255, 255);
        z-index: 15;
    }
    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -5px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(255, 80, 80);
        z-index: 10;
    }
    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255, 255, 255);
        border-width: 8px;
        pointer-events: none;
    }
    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }
    .direction-l .time-wrapper {
        float: none;
    }
    .direction-r .time-wrapper {
        float: none;
    }
}

@media (max-width: 1199px) {
    .pictureTile.newsTile {
        height: 350px!important;
    }
}
/*Small devices (Tablets)*/

@media (max-width: 991px) {
    .pictureTile.newsTile {
        height: 280px!important;
    }
    h2.subtitle {
        font-size: 18px;
        font-weight: 500;
    }
    h2.subtitle.news {
        font-size: 28px;
    }
    .main-title {
        font-size: 60px;
        line-height: 1.1;
        font-weight: 700;
        text-shadow: 2px 2px 3px #666;
    }
    .view.home {
        height: 900px;
    }
}
/*Extra small devices (Phones)*/

@media (max-width: 767px) {
    .text-align-left {
        text-align: center !important;
    }
    .text-align-right {
        text-align: center !important;
    }
    h2.subtitle {
        font-size: 16px;
        font-weight: 500;
    }
    h2.subtitle.news {
        font-size: 26px;
    }
    .main-title {
        font-size: 56px;
        line-height: 1.1;
        font-weight: 700;
        text-shadow: 2px 2px 3px #666;
    }
    #body .view.container-fluid {
        margin: 0px 0px;
    }
    .view.home {
        height: 700px;
    }
    .view {
        padding: 15px;
    }
    .about-content {
        letter-spacing: 0.3px;
    }
}

@media (max-width: 520px) {
    .pictureTile.newsTile {
        height: 400px!important;
    }
    h2.subtitle.news {
        text-shadow: 1px 1px 2px #666;
        font-size: 26px;
        letter-spacing: 1px;
    }
}

.home {
    background-image: url('pictures/background.jpg');
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}