<div class="navbar-inner">
    <div class="container">
        <a class="brand" href="#home">
            <img src="Photoshop/Logo.png" />
        </a>
        <ul class="nav pull-right">
            <li id="nav_cart" class="cart">
                <a href="#home"><img src="Icons/shopping-purse-icon.png" />&nbsp;0</a>
            </li>
        </ul>
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#collapseNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="nav-collapse collapse" id="collapseNav">
            <ul class="nav pull-right">
                <li><a href="#shop">Shop</a></li>
                <li><a href="#inspire">Inspire</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li>
                    <a href="#home"><img src="Icons/user.png" />&nbsp;Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>