<footer class="container">

    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-align-left">
            <ul class="inline">
                <li><a href="#sakums">Noteikumi</a></li>
                <li><a href="#sakums">Palīdzība</a></li>
                <li><a href="#sakums">BUJ</a></li>
                <li><a href="#sakums">Kontakti</a></li>
                <li>Site by Inga</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-align-right">
            <ul class="inline">
                <li>
                    <a href="#home"><img src="icons/facebook.png" /></a>
                </li>
                <li>
                    <a href="#home"><img src="icons/twitter.png" /></a>
                </li>
                <li>
                    <a href="#home"><img src="icons/instagram.png" /></a>
                </li>
            </ul>
        </div>
    </div>
</footer>