<footer class="container">
    <div class="row-fluid col-md-12">
        <div class="col-md-6">
            <ul class="inline">
                <li><a href="#sakums">Noteikumi</a></li>
                <li><a href="#sakums">Palīdzība</a></li>
                <li><a href="#sakums">BUJ</a></li>
                <li><a href="#sakums">Kontakti</a></li>
                <li>Site by Inga</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="inline pull-right">
                <li>
                    <a href="#home"><img src="icons/facebook.png" /></a>
                </li>
                <li>
                    <a href="#home"><img src="icons/twitter.png" /></a>
                </li>
                <li>
                    <a href="#home"><img src="icons/instagram.png" /></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid col-md-12">
        <div class="icons">Icons made by
            <a href="http://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a> from
            <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
        <div class="icons">Icons made by
            <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
            <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
        <div class="icons">Icons made by
            <a href="http://www.flaticon.com/authors/chanut-is-industries" title="Chanut is Industries">Chanut is Industries</a>            from
            <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
        <div class="icons">Icons made by
            <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from
            <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
        <div class="icons">Icons made by
            <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from
            <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
    </div>
</footer>