<div class="container-fluid" ng-controller="ZinasController">
    <div class="row">
        <div class="col-md-12" style="padding:5px;">
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding:5px;" ng-repeat="tile in news track by $index">
                <a ng-attr-href="#zinas/{{tile.id}}" ng-if="tile.display==='large'">
                    <div class="fixed-height400 clickableTile">
                        <figure>
                            <img ng-attr-src="{{tile.img}}">
                            <figcaption style="color:rgb(51, 51, 51);">{{tile.title}}</figcaption>
                        </figure>
                    </div>
                </a>

                <a href="#zinas/{{tile.smallLeft.id}}" ng-if="tile.display==='multiple'">
                    <div class="fixed-height195 clickableTile" style="margin-bottom: 10px;">
                        <div class="col-md-6 col-sm-6 col-xs-6 fixed-height195" style="padding:0px;">
                            <div ng-attr-id="{{tile.smallLeft.imgId}}" class="img">
                                <div class="arrow-left"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 fixed-height195 title">
                            {{tile.smallLeft.title}}
                            <div class="readLeft">Lasīt</div>
                        </div>
                    </div>
                </a>
                <a href="#zinas/{{tile.smallRight.id}}" ng-if="tile.display==='multiple'">
                    <div class="fixed-height195 clickableTile" style="margin-top: 0px;">
                        <div class="col-md-6 col-sm-6 col-xs-6 fixed-height195 title" style="text-align:right;">
                            {{tile.smallRight.title}}
                            <div class="readRight">Lasīt</div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 fixed-height195" style="padding:0px;">
                            <div ng-attr-id="{{tile.smallRight.imgId}}" class="img">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>